extends ../../Layout/Main
block content
	.row 
		table.table.table-striped.table-bordered
			tr
				th(width=5) #
				th(width='20%') 唯一码
				th(width='20%') 用户名
				th(width='10%') 积分
				th(width='10%') 手机
				th(width='20%') 注册城区
				th 操作
			each row,key in data
				tr
					td #{key+1}
					td #{row._id}
					td #{row.user}
					td #{row.points}
					td #{row.phone}
					td #{row.city}
					td
						span
							a.btn.btn-primary.btn-sm(href='/User/Manage/Edit?id=#{row._id}') 编辑
						span
							a.btn.btn-danger.btn-sm(href='/User/Manage/Delete?id=#{row._id}') 删除
		.page 
			!= pageNav