extends ../../Layout/Main
block content
	.row.well
		.col-md-8
			h4 用户管理
		.col-md-4
			.pull-right
				button.btn.btn-primary(onclick='location.href="/User/Manage/Add"') 添加用户
	.row 
		table.table.table-striped.table-bordered
			tr
				th(width=5) #
				th(width='20%') 唯一码
				th(width='20%') 用户名
				th(width='10%') 积分
				th(width='10%') 手机
				th(width='20%') 注册城区
				th 操作
			each row,key in data
				tr
					td #{key+1}
					td #{row._id}
					td #{row.user}
					td #{row.points}
					td #{row.phone}
					td #{row.city}
					td
						span
							a(href='/User/Manage/Edit?id=#{row._id}')
								i.glyphicon.glyphicon-pencil
						span
							a.modal-remove(href='#',data-href='/User/Manage/Delete?id=#{row._id}',data-id="#{row._id}",data-toggle="modal" data-target="#modal-delete-cfm")
								i.glyphicon.glyphicon-trash
		.page 
			!= pageNav